a[href*="javascript:markReviewed"] {
    visibility: hidden !important;
}

a[href*="javascript:markReviewed"]::after {
    content: "Click here to mark that you have reviewed this content"; 
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #ff4444;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

a[href*="javascript:markUnreviewed"] {
    visibility: hidden !important;
}

a[href*="javascript:markUnreviewed"]::after {
    content: "U+263A I have reviewed this content" !important;
    visibility: visible;
    position: relative;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    background: #2BBBAD;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}